<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOHeLk5Tz2P7h1UU0Ol7sYmNd_-JGpFE8</string>
	<key>GCM_SENDER_ID</key>
	<string>371664772701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.photoApp.diego</string>
	<key>PROJECT_ID</key>
	<string>photo-app-7c431</string>
	<key>STORAGE_BUCKET</key>
	<string>photo-app-7c431.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371664772701:ios:a1046c0f6a295d7badf7b4</string>
</dict>
</plist>